[Unit]
Description=Phoenix ODSM
StopWhenUnneeded=false
Requires=xyz.openbmc_project.ObjectMapper.service
After=xyz.openbmc_project.ObjectMapper.service
Wants=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
Wants=xyz.openbmc_project.psusensor.service
After=xyz.openbmc_project.psusensor.service
Wants=xyz.openbmc_project.cpuerrorsensor.service
After=xyz.openbmc_project.cpuerrorsensor.service
Wants=xyz.openbmc_project.intrusionsensor.service
After=xyz.openbmc_project.intrusionsensor.service
Wants=xyz.openbmc_project.mcutempsensor.service
After=xyz.openbmc_project.mcutempsensor.service
Wants=xyz.openbmc_project.hwmontempsensor.service
After=xyz.openbmc_project.hwmontempsensor.service
Wants=xyz.openbmc_project.adcsensor.service
After=xyz.openbmc_project.adcsensor.service
Wants=xyz.openbmc_project.nvmesensor.service
After=xyz.openbmc_project.nvmesensor.service
Wants=xyz.openbmc_project.fansensor.service
After=xyz.openbmc_project.fansensor.service
Wants=xyz.openbmc_project.ipmbsensor.service
After=xyz.openbmc_project.ipmbsensor.service
Wants=xyz.openbmc_project.cpusensor.service
After=xyz.openbmc_project.cpusensor.service
Wants=xyz.openbmc_project.exitairsensor.service
After=xyz.openbmc_project.exitairsensor.service
Wants=xyz.openbmc_project.Intel_Settings.service
After=xyz.openbmc_project.Intel_Settings.service
Wants=ac-boot-check.service
After=ac-boot-check.service
Wants=xyz.openbmc_project.Chassis.Control.Power@0.service
After=xyz.openbmc_project.Chassis.Control.Power@0.service


[Service]
Restart=always
RestartSec=5
ExecStart=sh -c "ulimit -s 256; /usr/bin/odsm;"

[Install]
WantedBy=multi-user.target
