[Unit]
Description=Execute all executable scripts in /var/startup
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/startup-manager.sh start
ExecStop=/usr/bin/startup-manager.sh stop
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target