// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2019-2021 Intel Corporation
/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
	model = "Phoenix AST2600 - Billy";
	compatible = "aspeed,ast2600-intel", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		mmc0 = &emmc_slot0;
		mmc1 = &sdhci_slot0;
		mmc2 = &sdhci_slot1;
		spi0 = &fmc;
		spi1 = &spi1;
		spi2 = &spi2;
		ethernet0 = &mac0;
		ethernet1 = &mac1;
		ethernet2 = &mac2;
		ethernet3 = &mac3;
	};

	cpus {
		cpu@0 {
			clock-frequency = <1200000000>;
		};
		cpu@1 {
			clock-frequency = <1200000000>;
		};
	};

	system-leds {
		compatible = "gpio-leds";
		green-led {
			label = "green";
			gpios = <&gpio0 50 GPIO_ACTIVE_LOW>;
			default-state = "blink";
		};
		amber-led {
			label = "amber";
			gpios = <&gpio0 51 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		id-led {
			label = "id";
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			default-state = "blink";
		};
		hb-led {
			label = "hb";
			gpios = <&gpio0 173 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};
};

&pwm {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
		     &pinctrl_pwm2_default &pinctrl_pwm3_default
		     &pinctrl_pwm4_default &pinctrl_pwm5_default
		     &pinctrl_pwm12g1_default &pinctrl_pwm13g1_default
		     &pinctrl_pwm14g1_default &pinctrl_pwm15g1_default>;
};

&gpio0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdrammc {
	clock-frequency = <400000000>;
};

&wdt1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio2_default>;
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy0: ethernet-phy@0 {
		reg = <0>;
	};

	ethphy1: ethernet-phy@1 {
		reg = <0>;
	};

	ethphy2: ethernet-phy@2 {
		reg = <0>;
	};

	ethphy3: ethernet-phy@3 {
		reg = <0>;
	};
};

&mac1 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default>;
};

&fmc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fmcquad_default>;
	flash@0 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <40000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&emmc {
	timing-phase = <0x700ff>;
};

&emmc_slot0 {
	status = "okay";
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc_default>;
};
&i2c0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1_default>;
};

&i2c4 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c5_default>;
};

&i2c5 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c6_default>;
};

&i2c6 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c7_default>;
};

&i2c7 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c8_default>;
};

&i2c8 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c9_default>;
};

&i2c9 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c10_default>;
};

&i2c12 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c13_default>;
};

&i2c13 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c14_default>;
};

&pcie_bridge1 {
	status = "okay";
};

&h2x {
	status = "okay";
};

&display_port {
	status = "okay";
};

&scu {
	mac0-clk-delay = <0x1d 0x1c
			  0x10 0x17
			  0x10 0x17>;
	mac1-clk-delay = <0x1d 0x10
			  0x10 0x10
			  0x10 0x10>;
	mac2-clk-delay = <0x0a 0x04
			  0x08 0x04
			  0x08 0x04>;
	mac3-clk-delay = <0x0a 0x04
			  0x08 0x04
			  0x08 0x04>;
};
